@import 'the-new-css-reset/css/reset.css';

/* .home-first-page {
  display: flex;
  flex-direction: row;
} */
.TCYDS {
  
  border: dashed 5px red;
  display: flex;
  width: 50%;
 
  
}
.Take-control {
  border: dashed 5px rgb(102, 48, 48);
  /* width: 200px; */
  /* font-size: 28px; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}