@import 'the-new-css-reset/css/reset.css';

.container {
 padding: 35px;
  border: solid 2px yellow;
}
.home-first-page {
  padding: 1%;
  display: flex;
  flex-direction: row;
  gap: 5%;
  background-color: #E7F3E7;
}
.TCYDS {
  display: flex;
  flex-direction: column;
  display: flex;
  width: 50%;
  }
.Take-control {
  
  display: flex;
  width: 100%;
  font-size: 60px;
  color: 25,850 hanqata;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Track {
  color: #85B786;
  font-size: 28px;
}
.get-learn-button-container {
  display: flex;
  gap: 15%;
  padding-bottom: 2%;
}
.get-started {
  color: black;
  font-size: 30px;
  width:fit-content;
  padding: 2%;
  background-color: #1BE619; 
  border-radius: 5px; 
  cursor: pointer;
}
.learn-more {
  color: black;
  font-size: 30px;
  padding: 2%;
  background-color: #F8FCF8; 
  border-radius: 5px; 
  cursor: pointer;
}
.active-subscrption {
  display: flex;
  flex-direction: column;
  border: dashed 2px green;
  width: 50%;
}
.active-subscrption-month {
  border: solid red 3px;
  display: flex;
  flex-direction: column;
  border: dashed 2px red;
}
.Netflix {
  border: solid red 3px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}